:root {
  /* base */
  --ira-red-color: #b4160d;

  /* darker */
  --ira-red-color-1100: #5e0b07;
  --ira-red-color-1000: #7a0e09;

  /* lighter */
  --ira-red-color-800: #c52a21;
  --ira-red-color-700: #d64a43;
  --ira-red-color-600: #e56a64;
  --ira-red-color-500: #f08a85;
  --ira-red-color-400: #f6aaa7;
  --ira-red-color-300: #f9c6c4;
  --ira-red-color-200: #fce0df;
  --ira-red-color-100: #fef3f3;

  --surface-grey: #f4f5fb;
  --surface-white: #ffffff;
  --text-dark: #1a1d2e;
  --muted-grey: #7b82a0;
  --border: #dde0ef;
}

body {
  font-family: "Inter", sans-serif;
  font-feature-settings: "cv05" 1; /* Enable lowercase l with tail */
  background-color: var(--surface-grey);
  margin: 0;
}

main {
  width: 80vw;
  margin: 0 auto;
}

.header-link, .header-link-active {
  text-decoration: none;
  color: var(--muted-grey);
  padding: 0.25rem 0.75rem;
  border-radius: 0.40rem;
}

.header-link-active {
  text-decoration: none;
  color: var(--ira-red-color);
  background-color: var(--ira-red-color-200);
  border-radius: 0.40rem;
}

.header-link:hover {
  color: var(--text-dark);
  background-color: var(--surface-grey);
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;
}

/* Rename to generic iconbutton? */
.sort-caret-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.sort-caret-label {
  font-size: 1.25rem;
}

.search-bar-search-icon {
  position: absolute;
  left: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
  fill: var(--muted-grey);
  color: var(--muted-grey);
}

.search-bar-clear-button {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
  fill: var(--muted-grey);
  color: var(--muted-grey);
  background: transparent;
  border: none;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--ira-red-color);
}
